---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://astro.build/",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/mhyfritz/astro-landing-page",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex h-64 items-center justify-between">
  <!--<div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>-->
  <p>    
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-xl"
    >
      ACEGPT
    </h2> &nbsp; by &nbsp; <a href="http://multigrid.org">multigrid.org</a>
  </p>

  <!-- Images div -->
  <div class="flex space-x-4"> <!-- spacing between images -->
    <img src="/CUHKSZ.png" alt="Image 1" class="h-110 w-20"> <!-- set your desired height and width -->
    <img src="/SRIBD.png" alt="Image 2" class="h-110 w-20">
    <img src="/KAUST.png" alt="Image 3" class="h-110 w-20">
  </div>
</footer>

