---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://astro.build/",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/mhyfritz/astro-landing-page",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<style>
  .image-container1 {
    flex: 1; /* Equal distribution of available space */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 80px; /* Set a fixed height for all image containers */
    width: 500px;
  }

  .image {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: 100%; /* Make the images fill the container height */
  }
</style>

<style>
  .image-container2 {
    flex: 1; /* Equal distribution of available space */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 80px; /* Set a fixed height for all image containers */
    width: 400px;
  }

  .image {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: 100%; /* Make the images fill the container height */
  }
</style>

<style>
  .image-container3 {
    flex: 1; /* Equal distribution of available space */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 80px; /* Set a fixed height for all image containers */
    width: 270px;
  }

  .image {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: 100%; /* Make the images fill the container height */
  }
</style>

<footer class="relative flex h-30 items-center justify-between">
  <p>    
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-xl"
    >
      ACEGPT
    </h2> &nbsp; by &nbsp; <a href="http://multigrid.org">multigrid.org</a>
  </p>

  <!-- Images div -->
  <div class="flex space-x-4"> <!-- spacing between images -->
    <div class="image-container1">
      <img src="/CUHKSZ.png" alt="Image 1" class="image">
    </div>
    <div class="image-container2">
      <img src="/SRIBD.png" alt="Image 2" class="image">
    </div>
    <div class="image-container3">
      <img src="/KAUST.png" alt="Image 3" class="image">
    </div>
  </div>
</footer>


