---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/acelogo1.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Template built with tailwindcss using Tailus blocks v2" />
        <title>ACEGPT</title>

        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet" />
    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <wrapper class="wrapper-class">    
            <div class="space-y-24 px-8 py-32">
                <slot />
            </div>
            <AppFooter />
            <div class="fixed inset-x-6 bottom-2 z-40 mx-auto w-max">
            </div>
        </wrapper>
    </body>
</html>
<style>
    html {
        font-family: Urbanist, sans-serif;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;

      display: grid;
      /* 第一行自动高度，最后一行自动高度 */
      grid-template-rows: auto 1fr auto 40px;
      min-height: 100vh;
      margin: 0;
      height: 100vh;
        /* @apply mx-auto max-w-screen-xl px-5; */
    }

    .footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 30px 0;
    }

    .wrapper-class {
        @apply flex min-h-full flex-col justify-between;
      }
    

</style>
